<% provide(:title, 'Edit Consultant') %>
<h1>Editing <%= @consultant.name %></h1>

<div id="consultant" class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_for(@consultant) do |f| %>
      <%= render 'shared/consultant_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>

      <%= f.submit "Update #{@consultant.name}", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to "Delete #{@consultant.name}", @consultant, method: :delete, data: { confirm: "STOP!!  This action is irreversible!" }, class: "btn btn-danger" %>
  </div>
</div>