<% provide(:title, 'New Consultant') %>
<h1>Create New Consultant</h1>

<div id="consultant" class="row">
  <div class="span6 offset3">
    <%= form_for(@consultant) do |f| %>
      <%= render 'shared/consultant_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit "Create Consultant", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>