<% provide(:title, 'Create New Manager') %>
<h1>Create New Manager</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@manager) do |f| %>
      <%= render 'shared/manager_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create Manager", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>