.row.email-message
  .col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    %p= "Dear #{@name || 'Customer'},"
    %p.sub-heading= "WELCOME--LET'S GET STARTED"
    - if @years.to_i == 1
      = render 'contacts/paragraph1_years1'
    - elsif @years.to_i == 2
      = render 'contacts/paragraph1_years2'
    - else
      = render 'contacts/paragraph1_years3'
    = render 'contacts/paragraph2'
    - if @years.to_i == 1
      %p
        If your tax home is in a foreign country on April 15th then you have an automatic extension until June 16th to file your tax return. However, if you ultimately have a tax liability, interest will begin to accrue as of April 15th and penalties for paying late will begin to accrue as of June 15th.
    %p
      %u= "#{@name.split(' ')[0]}'#{'s' if @name.split(' ')[0][-1] != 's'} US Tax Organizer#{ 's' if @years.to_i > 1 }"
    - if @years.to_i == 1
      = render 'contacts/organizers1'
    - elsif @years.to_i == 2
      = render 'contacts/organizers2'
    - else
      = render 'contacts/organizers3'
    %p.bump-down
      Please email the completed excel US Tax Organizer and any other tax documents to us at
      %a{ :href => "mailto:newreturn@expatcpa.com?subject=tax%20return%20of%20#{@name}" }= "newreturn@expatcpa.com#{'.' if @years.to_i > 1}"
      - if @years.to_i == 1
        (please note that if you chose the online Tax Notebook it is submitted online).
      Alternatively, we have implemented a portal system to provide for safe and secure exchange of sensitive tax data. It’s easy to use and won’t cost you any additional fees. Email your request for a secure portal to
      %a{ :href => "mailto:contact@expatcpa.com?subject=secure%20portal%20for%20#{@name}" } contact@expatcpa.com.
      You may also fax copies to us at (714) 939-1032 or mail copies of the documents to our office (you should keep all originals).
    %p
      We will use the information you provide to prepare your US federal and state (if applicable) tax returns. Once you submit your tax information, we will contact you with any questions we may have. When the return is complete, we will then send you your completed income tax return as a password protected PDF file for your review.
    %p
      %u= "#{@name.split(' ')[0]}'#{'s' if @name.split(' ')[0][-1] != 's'} Fee Schedule"
    - if @years.to_i == 1
      %p
        Our fees for processing a US expatriate tax return for 2014 are stated below.  Simply add the fee amounts that apply to the type of income you realized in 2014 to arrive at your fee total.
    - else
      %p
        Our fees for processing a US expatriate tax return are stated below, per tax year. Simply add the fee amounts that apply to the type of income you realized in each year to arrive at your fee total.  Alternatively, if you require more than two years of tax filings, we offer a bulk discount of the lesser of $399 per tax year or the rates stated below:
    = render 'contacts/fee_schedule'
    %p
      Our fees are charged to you over two payments: the first a retainer of $299
      = "#{'(per tax year)' if @years.to_i > 1}"
      at the commencement of work on your tax return, and the second upon completion of your tax return for the remaining balance. In the event that a particular tax return will have a higher fee, we will contact you before the work is performed. The fee also includes any consultation you may require during the tax year, as well as our periodic newsletter on updates in US tax law.
    - if @years.to_i == 1
      %p
        For your convenience, we accept MasterCard, American Express, and Visa credit cards, and in some cases US personal checks. If you chose to use the excel Tax Organizer then the credit card form is contained within the organizer.  If you chose the Tax Notebook please link in the following credit card form and email to
        %a{ :href => "mailto:newreturn@expatcpa.com?subject=tax%20return%20of%20#{@name}" } newreturn@expatcpa.com
        (Credit Card Form).
    - else
      %p
        For your convenience, we accept MasterCard, American Express, and Visa credit cards, and in some cases US personal checks. The credit card form is contained within the tax organizer and need only be filled out once.
    = render 'contacts/message_ending'