<%= form_for @contact, html: {id: "loose-form", class: "left", role: "form"} do |f| %>
  <%= render 'shared/error_messages.html' %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company %>
    <%= f.text_field :company, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :foreign, "Foreign Country of Residence" %>
    <%= f.text_field :foreign, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Phone (If you desire to be contacted by phone)" %>
    <%= f.phone_field :phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label(:years, "How many years previous are you filing for?") %>
    <div class="clear"></div>
    <%= f.radio_button(:years, "1") %>
    <%= f.label(:years_1, "1") %>
    <%= f.radio_button(:years, "2") %>
    <%= f.label(:years_2, "2") %>
    <%= f.radio_button(:years, "3 or more") %>
    <%= f.label(:years_3, "3 or more") %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Additional Comments" %>
    <%= f.text_area :body, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.check_box(:quote) %>
    <%= f.label(:quote, "Reply with fee quote for US expatriate tax services") %>
  </div>
  <div class="form-group">
    <%= f.check_box(:individual) %>
    <%= f.label(:individual, "Reply with fee quote for U.S. individual tax services") %>
  </div>
  <div class="form-group">
    <%= f.check_box(:corporate) %>
    <%= f.label(:corporate, "Reply with fee quote for U.S. corporate tax services") %>
  </div>
  <div class="form-group">
    <%= f.check_box(:gaapfee) %>
    <%= f.label(:gaapfee, "Reply with fee quote for US GAAP translation services") %>
  </div>
  <div class="form-group">
    <%= f.check_box(:gaap) %>
    <%= f.label(:gaap, "Have a consultant contact me regarding US GAAP translation services") %>
  </div>
  <div class="form-group">
    <%= f.check_box(:russian) %>
    <%= f.label(:russian, "Reply with fee quote for Russian tax services") %>
  </div>
  <%= f.submit "Send Message", class: "btn btn-large btn-primary" %>
<% end %>
