<div class="navbar">
  <div class="navbar-inner">
    <nav> 
      <ul class="nav">
	<li class="cameo"><%= link_to "list accounts", accounts_path %></li>
	<li class="cameo"><%= link_to "create account", new_account_path %></li>
	<li class="cameo"><%= link_to "list managers", managers_path %></li>
	<li class="cameo"><%= link_to "create manager", new_manager_path %></li>
	<li class="cameo"><%= link_to "list consultants", consultants_path %></li>
	<li class="cameo"><%= link_to "create consultant", new_consultant_path %></li>
	<li class="cameo"><%= link_to "public home page", '/' %></li>
      </ul>
    </nav>
  </div>
</div>
