<nav class="navbar navbar-default" role="navigation"> 
  <ul class="nav">
    <li class="cameo"><%= link_to "list accounts", accounts_path %></li>
    <li class="cameo"><%= link_to "create account", new_account_path %></li>
    <li class="cameo"><%= link_to "list managers", managers_path %></li>
    <li class="cameo"><%= link_to "create manager", new_manager_path %></li>
    <li class="cameo"><%= link_to "list consultants", consultants_path %></li>
    <li class="cameo"><%= link_to "create consultant", new_consultant_path %></li>
    <li class="cameo"><%= link_to "public home page", '/' %></li>
    <li class="cameo pull-right" style="margin-right: 20px; font-size: 2em; line-height: .5em;"><%= link_to "EXPATCPA CLOUD", 'https://expatcpa.syncedtool.com' %></li>
    <li class="cameo pull-right" style="margin-right: 10px; font-size: 2em; line-height: .5em;"><%= link_to "CCH PROSYSTEM", 'https://office.prosystemfx.com' %></li>
  </ul>
</nav>
