<!DOCTYPE html>
<html>
  <%= render 'layouts/standard_head' %>
  <body class="center">
    <div id="whole-background" class="w100 pa">
      <div class="w100" id="black-band"></div>
      <div class="w100" id="white-touch"></div>
      <div class="w100" id="gradient-band"></div>
    </div>
    <div class="pr">
      <div id="container-wrapper">
      <div class="container">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<div class="clear"></div>
	<header>
	  <div class="row">
	    <div class="col-xs-4 col-xs-offset-1">
	      <%= image_tag "expatcpa_banner2.jpg", id: "ban-logo" %>
	    </div>
	    <div id="gallery" class="col-xs-5 col-xs-offset-1">
	      <%= image_tag "empty.jpg", id: "place-holder" %>
	    </div>
	  </div>
	  <div class="clear"></div>
	  <nav class="navbar navbar-default" role="navigation"> 
	    <ul class="nav">
	      <li class="cameo"><%= link_to 'home', '/' %></li>
	      <li class="dropdown cameo">
		<%= link_to "contact us", '/contact-us' %>
	      </li>
	    </ul>
	  </nav>
	</header>
	<%= yield %>
	<%= render 'layouts/footer' %>
      </div>
      </div>
    </div>
  </body>
</html>
