<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
					    "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="center">
    <div id="whole-background" class="w100 pa">
      <div class="w100" id="black-band"></div>
      <div class="w100" id="white-touch"></div>
      <div class="w100" id="gradient-band"></div>
    </div>
    <div class="pr">
      <div id="container-wrapper">
	<div class="container">
	  <div class="clear"></div>
	  <header>
	    <%= image_tag "expatcpa_banner.jpg", class: "w100" %>
	    <%= render 'layouts/track_nav' %>
	  </header>
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	  <%= yield %>
	  <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
	</div>
      </div>
    </div>
  </body>
</html>
