<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
					    "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container-fluid">
      <header>
	<%= image_tag "expatcpa_banner.jpg" %>
	<div class="navbar">
	  <div class="navbar-inner">
	    <nav> 
	      <ul class="nav">
		<li class="cameo"><%= link_to "create manager", '/managers/new' %></li>
		<li class="cameo"><%= link_to "create consultant", '/consultants/new' %></li>
		<li class="cameo"><%= link_to "create account", '/accounts/new' %></li>
	      </ul>
	    </nav>
	  </div>
	</div>
      </header>
      <% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
