<% provide(:title, 'Edit Account') %>
<h1>Editing <%= @account.name %> Account</h1>

<div id="tight-form" class="row">
  <%= render 'shared/account_messages' %>
    <%= form_for(@account) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update #{@account.name}", class: "btn btn-large btn-primary" %>
    <% end %>
</div>