<% provide(:title, 'All accounts') %>
<table class="table datatable">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>manager</th>
      <th>consultant</th>
      <th>received</th>
      <th>assigned</th>
      <th>began</th>
      <th>completed</th>
      <th>sent</th>
      <th>filed</th>
      <th>basic</th>
      <th>state</th>
      <th>1116</th>
      <th>Sch A</th>
      <th>Sch B</th>
      <th>Sch C</th>
      <th>Sch D</th>
      <th>Sch E</th>
      <th>Extension</th>
      <th>TD F</th>
      <th>8938</th>
      <th>5471</th>
      <th>misc</th>
      <th>fee</th>
      <th>Deposit</th>
      <th>Payment</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% i = 0
  fees = 0
  costs = 0
  balances = 0
  deposits = 0
  payments = 0
  @accounts.order("lower(name) ASC").each do |acc|
  i = i + 1
  fees = fees + (acc.fee || 0)
  deposits = deposits + (acc.deposit || 0)
  payments = payments + (acc.payment || 0)
  balance = (acc.fee || 0) - (acc.deposit || 0) - (acc.payment || 0)
  balances = balances + balance %>
  <tr>
    <td><%= i %></td>
    <td><%= link_to acc.name, edit_account_path(acc) %></td>
    <td><%= acc.manager.name unless acc.manager.blank? %></td>
    <td><%= acc.consultant.name unless acc.consultant.blank? %></td>
    <td><%= acc.received.strftime("%b %d") unless acc.received.blank? %></td>
    <td><%= acc.assigned.strftime("%b %d") unless acc.assigned.blank? %></td>
    <td><%= acc.began.strftime("%b %d") unless acc.began.blank? %></td>
    <td><%= acc.completed.strftime("%b %d") unless acc.completed.blank? %></td>
    <td><%= acc.sent.strftime("%b %d") unless acc.sent.blank? %></td>
    <td><%= acc.filed.strftime("%b %d") unless acc.filed.blank? %></td>
    <td class="checks"><%= "299" if acc.basic %></td>
    <td class="checks"><%= "175" if acc.state %></td>
    <td class="checks"><%= "125" if acc.f1116 %></td>
    <td class="checks"><%= "75" if acc.a %></td>
    <td class="checks"><%= "25" if acc.b %></td>
    <td class="checks"><%= "100" if acc.c %></td>
    <td class="checks"><%= "75" if acc.d %></td>
    <td class="checks"><%= "75" if acc.e %></td>
    <td class="checks"><%= "75" if acc.extension %></td>
    <td class="checks"><%= "75" if acc.f %></td>
    <td class="checks"><%= "75" if acc.f8938 %></td>
    <td class="checks"><%= "600" if acc.f5471 %></td>
    <td><%= number_to_currency(acc.misc) %></td>
    <td><%= number_to_currency(acc.fee) %></td>
    <td>-<%= number_to_currency(acc.deposit) %></td>
    <td>-<%= number_to_currency(acc.payment) %></td>
    <td><%= number_to_currency(balance) %></td>
    <% unless acc.manager.name == "Soucie" || acc.manager.name == "Winters" || acc.manager.name == "Choudhury" %>
      <td></td>
    <% else %>
      <% costs = costs + (acc.cost || 0) %>
      <td><%= number_to_currency(acc.cost) %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr><%= ("<td></td>" * 23).html_safe %>
      <td><%= number_to_currency(fees) %></td>
      <td>-<%= number_to_currency(deposits) %></td>
      <td>-<%= number_to_currency(payments) %></td>
      <td><%= number_to_currency(balances) %></td>
      <td><%= number_to_currency(costs) %></td>
    </tr>
  </tfoot>
</table>
