<% provide(:title, 'All accounts') %>
<h1>All Accounts</h1>

<table class="table">
  <tr>
    <th>name</th>
    <th>manager</th>
    <th>consultant</th>
    <th>received</th>
    <th>assigned</th>
    <th>completed</th>
    <th>sent</th>
    <th>filed</th>
    <th>basic</th>
    <th>state</th>
    <th>1116</th>
    <th>Sch A</th>
    <th>Sch C</th>
    <th>Sch D</th>
    <th>Sch E</th>
    <th>Extension</th>
    <th>TD F</th>
    <th>8938</th>
    <th>5471</th>
    <th>fee</th>
    <th>Total Cost</th>
  </tr>
  <% @accounts.each do |acc| %>
  <tr>
    <td><%= acc.name %></td>
    <td><%= acc.manager.name %></td>
    <td><%= acc.consultant.name %></td>
    <td><%= acc.received.strftime("%d %b") unless acc.received.blank? %></td>
    <td><%= acc.assigned.strftime("%d %b") unless acc.assigned.blank? %></td>
    <td><%= acc.completed.strftime("%d %b") unless acc.completed.blank? %></td>
    <td><%= acc.sent.strftime("%d %b") unless acc.sent.blank? %></td>
    <td><%= acc.filed.strftime("%d %b") unless acc.filed.blank? %></td>
    <td class="checks"><%= "x" if acc.basic %></td>
    <td class="checks"><%= "x" if acc.state %></td>
    <td class="checks"><%= "x" if acc.f1116 %></td>
    <td class="checks"><%= "x" if acc.a %></td>
    <td class="checks"><%= "x" if acc.c %></td>
    <td class="checks"><%= "x" if acc.d %></td>
    <td class="checks"><%= "x" if acc.e %></td>
    <td class="checks"><%= "x" if acc.extension %></td>
    <td class="checks"><%= "x" if acc.f %></td>
    <td class="checks"><%= "x" if acc.f8938 %></td>
    <td class="checks"><%= "x" if acc.f5471 %></td>
    <td><%= number_to_currency(acc.fee) %></td>
    <td><%= number_to_currency(acc.cost) %></td>
  </tr>
  <% end %>
</table>